:root {
  --primary: #00ADB5;
  --secondary: #1C4E6E;
  --asuu-tinz: #41A2FF;
}

* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  transition: all 0.4s ease-out;
  margin: 0;
  
}

header {
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/BACK.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* height: 600px; */




}

.carousel-inner .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-inner .carousel-item::before {
  content: '';
  background-color: rgba(12, 11, 16, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-inner .carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-inner .carousel-caption span {
  color: var(--bs-orange);
}

.carousel-inner .carousel-caption h2 {
  color: #fff;
  margin-bottom: 7px;
  font-size: 42px;
  font-weight: 600;
  width: 80%;
  margin: 0px auto 10px auto;
}

.carousel-inner .carousel-caption p {
  font-size: 20px;
  width: 80%;
  margin: 0px auto 20px auto;
}



@media(max-width: 768px) {
  .carousel-inner .carousel-caption h2 {
    font-size: 38px;
  }
}

@media(max-width: 577px) {
  .carousel-inner .carousel-caption h2 {
    font-size: 38px;
  }

  .carousel-inner .carousel-caption p {
    font-size: 13px;
  }
}

.course .box {
  padding: 10px 10px;
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.1);
}

.course .box img {}

.nav-bar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  cursor: pointer;
  /* position: fixed; */
  width: 100%;
}

nav {
  display: flex;
  gap: 50px;
}

nav a:hover {
  color: lightseagreen;


}

.nav-button {
  width: 100px;
  height: 50px;
  background-color: #000;
  border-radius: 50px;
  cursor: pointer;
  border: 2px #cfc;
}

.nav-button a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.nav-button a:hover {
  color: #cfc;
}

nav a {
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  font-weight: 600
}

.text {
  color: antiquewhite;
  font-size: 50px;
  text-align: center;
  padding: 90px 20px 5px 20px;
  cursor: pointer;
  transition: 1s
}

.text span {
  color: #000;
  transition: 1s;
  cursor: pointer;
}

.text .span:hover {
  color: #fff;
}

.text:hover {
  color: #cfc;

}

.text-h3 {
  color: rgb(255, 71, 172);
  font-size: 18px;
  padding: 10px 0px 15px 2px;
  text-align: center;
  cursor: pointer;
}

.details {
  background-color: transparent;
  padding: 11px 27px;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 15px;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
  position: absolute;
  left: 600px;
}

.details a {
  text-decoration: none;
}

.details:hover {
  background-color: var(--secondary);
}

main {
  padding: 10px 20px;
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;

}

main h1 {
  text-align: center;
  color: #000;
  padding: 10px 20px;
  text-decoration: underline;
  text-decoration-color: #ccc;
  font-size: 40px;
}

.main h3 {
  text-align: center;
}

.list {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  list-style: none;
}

.h2 {
  color: #fff;
  text-align: center;
}

p {
  text-align: center;
}

.people {
  display: flex;
  cursor: pointer;

}

.people .card {
  margin-right: 20px;
  /* border: 2px solid gray; */
  margin-left: 40px;
  margin-bottom: 20px;
  max-width: 200px;
  min-width: 100px;
  position: static;
  background: transparent
}

.people .card img {
  height: 200px;
  width: 194px;

}

.h2:hover {
  color: rgb(228, 231, 41);
}

.students-card {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/backs.jpg");
  background-repeat: no-repeat;
  background-size: cover;



}

.carousel-caption {}

.students-card .people {
  display: flex;
  flex-wrap: wrap;


}

.students-card h1 {

  text-decoration: underline;
}

.carousel-item img {

  object-fit: cover;
}